section{
	
	position: absolute;
	top: 1.46875rem;
	left: 0;
	right: 0;
	bottom: 1.46875rem;
	overflow-y: scroll;
	
}
.slide{
	width: 100%;
	/*height: 3.6875rem;*/
	height: auto;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
/*.swiperimg{
	width: 100%;
	height: 3.6875rem
}*/
#menu{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 4.90625rem;
	
	border-bottom:2px solid gray;
}
#menu dl{
	height: 2.40625rem;
	width: 25%;
	
}
#menu dt{
	width: 2.23125rem;
	height: 1.5rem;
}
#menu dd{
	
	height: 0.59375rem;
	text-align: center;
	line-height: 0.99375rem;
	font-size: 0.375rem;
}

#news{
	display: flex;
	width: 100%;
	height: 1.015625rem;
	background: url(../img/log.png) no-repeat;
}
#news_pic{
	
	width:4.2rem;
	height: 1.015625rem;
	background: url(../img/log.png) no-repeat;
}
#news p{
	flex-grow: 1;
	font-size:0.375rem ;
	line-height:1.015625rem;
	color:gray;
}
.milk{
	display: flex;
	width:100% ;
	height: 4.375rem;
	/*background-color: gray;*/
}

.midline{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.milk dl{
	width: 33%;
	height: 4.375rem;
}
.milk img{
	height: 90%;
}
.milk dt{
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.3125rem;
	color: deepskyblue;
}
.milk span{
	line-height:0.375rem ;
	font-size: 0.3125rem;
	color: #ccc;
}
.spcpri{
	display: flex;
	flex-wrap: wrap;
	height: 4.0625rem;
	width: 100%;
}
.spcpri div{
	width: 49.6%;
	height:49% ;
	
}
.four{
	display: flex;
	align-items: center;
}
/*水果*/
.fruit{
	width: 100%;
	margin-bottom: 20px;
	/*height: 3.640625rem*/
	/*background-color: palegoldenrod;*/
}
.title{
	display: flex;
	align-items: center;
	height: 1.25rem;
}
.title h1{
	flex-grow: 1;
   padding-left: 0.9375rem;
   font-size: 0.390625rem;
   color: orange;
}
.title a{
	color: #ccc;
	display: block;
	font-weight: bold;
	font-size: 0.3125rem;
	position: absolute;
	right: 0.3125rem;
	
}
.title h1:after{
	content: " ";
	position: absolute;
	left: 0.3125rem;
	right: 0.3125rem;
	display:inline-block;
	width:0.265625rem ;
	height:0.53125rem ;
	background-color: orange;
}
.fr_pic{
	/*height: 2.821875rem;*/
	width: 90%;
	margin: 0 auto;
	margin-bottom: 0.3125rem;
}
.fr_pic img{
	width: 100%;
}
.fruit_pear{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*height: 6.296875rem;*/
}
.pro_pic{
	display: flex;
	align-items: center;
	width:100% ;
	height:2.8125rem ;
}
.pro_pic img{
	width:3.296875rem ;
	height: 3.296875rem;
}
.fr_product{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.fr_product li{
	/*display: flex;*/
	
	width:33%;
	height: 5.625rem;
	/*background-color: darkgoldenrod;*/
}
.fr_product li:nth-of-type(2){
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.span_jx{
	display: inline-block;
	line-height:25px;
	border-radius: 5px;
	padding: 1px 2px;
	color: red;
	border: 2px solid red;
}
.span_mz{
	display: inline-block;	
	color: white;
	background-color: red;
	padding: 2px;
	border-radius: 5px;
}
.pro_intro{
	margin-left: 10px;
	
	font-size: 20px;
}
.price{
	color: #ccc;
}
.money{
	position: relative;
	color: orange;
}
.money a{
	color: #ccc;
	text-decoration: line-through;
}
.money:after{
	content: " ";
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid gray;
	position: absolute;
	right: 25px;
	top: -20px;
	
}